node_modules/
package.json
package-lock.json
# Les Cloud Functions ont besoin de leur manifeste versionné pour être déployées.
!functions/package.json
!functions/package-lock.json
# L'outil de purge bêta a besoin de son manifeste versionné.
!tools/beta-purge/package.json
